/* This styles the entire body of the page */
* {
    margin: 0;
    padding: 0;

}
  
body {
    font-family: Plantin, 'Times New Roman', Times, serif;
    background-color: rgb(194, 227, 238);
    color: #202020;
    margin: 0;
    padding: 0;
  }
  header {
   width: 100%;
   position: sticky;
   top: 0;
  }
  .logo img{
    width: 100px;
    height: 100px;
   }
  /* This styles all <h1> headers */
  h1 {
    color: #020c13;
    text-align: center;
    margin: 20px;
  }
  
  /* This styles all paragraphs */
  p {
    line-height: 1.6;
    max-width: 600px;
    margin: 10px auto;
    padding: 0 15px;
    text-align: center;

  }
  h2 {
    color: #04131f;
    text-align: center;
    margin-top: 20px;
  }
 
  nav {
    display: flex;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: #0b141c;
    background-color: #2f8bb2;
    width: 100%;
  }


  
  .nav-links {
    display: flex;
    gap: 0.5rem;
    align-self: center;
    justify-self: end;
    padding: 10px;
  }

  table {
    border-collapse: separate;
    width: 80%;
    margin: 20px auto;
  }
  
  th, td {
    border: 1px solid #3a3838;
    padding: 12px;
    text-align: left;
  }
  
  th, td {
    background-color: #5595b0;
  }
  
  .container{
    display: inline-block;
    justify-self: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: max-content;
    padding: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #267192;
  }

  .container form input {
    border-radius: 8px;
    width: 100%;
  }
  .container form button{
    background-color: #dae0e5;
    border-radius: 8px;
    padding: 0.5rem;
  }

  .container form button:hover {
    background-color: lightblue;
  }
  .map{
    width: 100%;
  }

  .banner-area{
    background-image: url(pics_for_website/headphones-6159058_1280.jpg);
    height: 70vh;
    width: 100%;
  }
  
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-links {
    flex-wrap: wrap;
    }
}
 